body{
    background-color: hsl(225, 100%, 94%);
    width: 1440px;
    margin: 0;
    background-image: url("/img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', Courier, monospace;
    font-size: 1em;
}

.container{
    border-radius: 10px;
    overflow: hidden;
    width: 450px;
    height: 45rem;
    margin: auto;
    margin-top: 6.3rem;
    background-color: #fff;
    box-shadow: 1px 5px 40px hsl(224, 23%, 55%);
}

.container #banner-img{
    width: 100%;
}

.order-header{
    margin-top: 2rem;
    text-align: center;
}

.order-summary{
    font-weight: 900;
    font-size: 28px;
    color: hsl(223, 47%, 23%);
}

.order-description{
    font-style: normal;
    color: hsl(224, 23%, 55%);
    letter-spacing: -1px;
    line-height: 1.4;
}

.content{
    margin: 10px 50px 0 50px;
    border-radius: 15px;
    overflow: hidden;
    background-color:  hsl(225, 100%, 98%);
}

.content .music-icon {
    float: left;
    margin: 1.2em;
}

.content div{
    font-weight: 700;
    float: left;
    margin-top: 1em;
    line-height: 1.5;
}

.content div span{
    font-size: 20px;
    color: hsl(223, 47%, 23%);
}

.content div i {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    display: block;
    font-style: normal;
}

.content a{
    float: right;
    margin-top: 2em;
    margin-right: 1em;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    text-decoration: underline;
}

.content a:hover{
    color: hsl(245, 75%, 70%);
    text-decoration: none;
}

.function-button{
    margin: 35px 50px 0 50px;
    display: block;
}

.function-button button{
    width: 100%;
    margin-bottom: 10px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 10px;
    border: none;
}

.function-button #btn-payout{
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    font: inherit;
    font-weight: 700;
}

.function-button #btn-payout:hover{
    background-color: hsl(245, 75%, 70%);
}

.function-button #btn-cancel{
    background-color: #fff;
    color:hsl(224, 23%, 55%);
    font: inherit;
    font-weight: 700;
    font-size: 1.3em;
}

.function-button #btn-cancel:hover{
    color:hsl(224, 23%, 28%);
}



@media screen and (max-width: 375px){
    body{
        font-size: 0.8em;
        width: 375px;
        background-image: url("/img/pattern-background-mobile.svg");
    }

    .container{
        width: 325px;
        height: 34rem;
        margin-top: 4rem;
    }

    .order-description{
        font-style: normal;
        letter-spacing: -1px;
        line-height: 1;
    }

    .content{
        margin: 10px 25px 0 20px;
    }


    .content div{
        margin-top: 1.6em;
        line-height: 1.2;
    }

    .content div span{
        font-size: 1.2em;
    }

    .content a{
        margin-top: 2.5em;
    }


    .function-button{
        margin: 25px 25px 0 25px;
        display: block;
    }

    .function-button button{
        width: 100%;
        margin-bottom: 10px;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        border-radius: 10px;
        border: none;
    }

    .function-button #btn-payout{
        font-size: 1.3em;
    }
}